.component {
    height: 100%;
    width: 100%;
}

.container {
    width: calc(100% - 20px);
    padding: 15px;
    height: calc(100% - 60px);
    margin-left: 10px;
    background: white;
    margin-top: 50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.breadcrumb {
    letter-spacing: -0.4px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    margin-top: 12px;
}

.breadcrumb :global(.ant-breadcrumb) {
    font-size: 13px !important;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

.title {
    font-size: 24px !important;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Muli', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    letter-spacing: -.5px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    margin-top: -12px;
    color: #39557e;
}

.component :global(.ant-btn) > :global(.anticon) {
    line-height: 1;
    margin-top: -3px;
    color: gray;
}

.component :global(.ant-btn) {
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.1), 0 0px 2px 0 rgba(0, 0, 0, 0.06);
}

.component :global(.ant-btn:hover) {
    box-shadow: 0 0px 3px 0 rgba(255, 255, 255, 0.1), 0 0px 2px 0 rgba(255, 255, 255, 0.06);
    border: 1px solid transparent;
    border-top-color: rgb(217, 217, 217);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(217, 217, 217);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(217, 217, 217);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.component :global(.ant-btn:focus) {
    box-shadow: 0 0px 3px 0 rgba(255, 255, 255, 0.1), 0 0px 2px 0 rgba(255, 255, 255, 0.06);
    border: 1px solid transparent;
    border-top-color: rgb(217, 217, 217);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(217, 217, 217);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(217, 217, 217);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.component :global(.ant-btn:hover) > :global(.anticon) {
    color: #2f4a73;
}

.buttons {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 10px;
    top: 7px;
}

.buttons > button {
    margin: 2px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 12px !important;
    letter-spacing: -.5px;
    font-weight: 600 !important;
}

.component :global(.ant-tabs-nav) * {
    margin: 2px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 12px !important;
    letter-spacing: 0.8px;
    /* font-weight: 400 !important; */
    min-width: 150px;
    text-align: center;
    font-weight: 600;
}

.component :global(.ant-tabs-nav) :global(.ant-tabs-tab-active) {
    color: #2f4a73;
    margin: 2px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 12px !important;
    letter-spacing: 0.8px;
    /* font-weight: 400 !important; */
    min-width: 150px;
    text-align: center;
    font-weight: 600;
}


/* TABLE */
.component :global(.ant-table) {
    font-family: 'Noto Sans', sans-serif !important;
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-family: 'PT Sans', sans-serif !important;*/
    /*font-family: 'Work Sans', sans-serif !important;*/
    font-size: 12px !important;
    letter-spacing: 0.8px;
    /* font-weight: 400 !important; */
    min-width: 150px;
    text-align: center;
    font-weight: 400;
    color: black;
}

.paneButtons {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 0px;
    top: 64px;
}

.paneButtons > button {
    margin: 2px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 12px !important;
    letter-spacing: -.5px;
    font-weight: 600 !important;
}

.paneTable {
    margin-top: 40px;
}
