.component {
    width: 100%;
    height: 100%;
}

.component label {
    margin: 3px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 13px !important;
    letter-spacing: -0.2px;
    /* font-weight: 600 !important; */
    text-shadow: .5px 0 0 currentColor;
    height: 13px;
    /* margin-bottom: 30px; */
    line-height: 23px !important;
    color: #242440;
    position: relative;
    top: 9px;
    left: 4px;
}

:global(.ant-form-item) {
    margin-bottom: 0px !important;
}

.component label:after {
    content: '' !important;
}

.component :global(.ant-form-extra) {
    margin: 2px;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 12px !important;
    /* letter-spacing: -.5px; */
    text-shadow: .5px 0 0 currentColor;
    height: 13px;
    line-height: 7px !important;
    color: #f5222d;
    margin-top: -2px;
    text-align: right;
}

.component :global(.ant-select-arrow){
    position: absolute !important;
    top: 50% !important;
    right: 11px !important;
}
